body {
  background: #4C3A51;
  margin: 0;
  padding: 0;
  color: #1B2430;
}

.content, footer {
  max-width: 900px;
  margin: auto;
  background: #774360;
  display: block;
  font-family: Monospace, 'Sans-serif';
  padding: 3em;
  //min-width: 500px;
}

#icon {
  border-radius: 100%;
  width: 100px;
}

.icon {
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;
}

.row, footer {
  display: flex;
  //flex-direction: row;
  //border: 1px solid;
}

.column {
  //border: 1px solid;
}

.brand, .brand h1 {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0em
}

.brand a {
  padding-right: 1em;
}

p a {
  text-decoration: none;
  font-weight: bold;
  color: #1B2430;
}

p a:hover {
  color: white;
}

.col-footer {
  //width: 100%;
  //border: 1px solid;
  display: grid;
  //border: 1px solid;
  margin: auto;
  margin-top: 1em;
  //padding-right: 0.2em;
  //padding-left: 0.2em;
}

#juan-img {
  width: 100px;
}

#juan-img p {
  margin: 0;
  //padding: 0;
}

.col-footer h4, .col-footer a {
  margin: 5px;
  text-decoration: none;
}

footer {
  background: #B25068;
  //width: 100%;
  //border-top: 1px solid white;
  padding-top: 1em;
  padding-bottom: 1em;
}



#nav a, .nav a, #whatsapp {
  text-decoration: none;
  color: #1B2430;
}

#nav a:hover {
  text-decoration: underline;
}

.col-footer img {
  width: 100px;
}

.quote h4 {
  //border: 1px solid;
  margin: 0;
  //padding: 0;
}

.quote {
  max-width: 30%;
}

#footer2 {
  //border: 1px solid;
  display: block;
  padding-bottom: 3em
}

#whatsapp {
  float: right;
  //border: 1px solid;
}

#email {
  float: left;
}

#projects {
  padding-top: 3em;
  padding-bottom: 3em;
}

#project-title h1 {
  text-align: center;
}

#footer-small, #footer2-small {
  display: none;
}

@media only screen and (max-width: 600px){
  .content {
    padding: 0.5em;
    //color: black;
    font-size: 1.2em;
  }
  #nav {
    display: grid;
    font-size: 1.2em;
    text-align: center;
    font-family: Georgia;
    padding-bottom: 1em;
  }
  
  #nav a {
    padding-top: 0.3em;
  }
  
  .row {
    display: block;
    //border: 1px solid;
  }
  #icon, #name {
    display: none;
  }
  #about-me {
    margin-top: 1em;
    //border: 1px solid;
  }
  
  h1, #about-me p {
    //border: 1px solid;
    margin: 0
  }
  
  #about-me p {
    text-align: justify;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-justify: inter-word;
  }
}

@media only screen and (max-width: 470px){
  footer {
    display: none;
  }
  #footer-small {
    display: block;
  }
  #social-img {
    display: flex
  }
  #footer2-small {
    display: flex;
    width: 100%;
    //padding-bottom: 4em;
    //border: 1px solid;
    //margin: 0px auto;
    

  }
  .nav a {
    margin: 0em;
    //border: 1px solid;
    padding-right: 1em;
    font-size: 1em
  }
  
  
  .quote {
  max-width: 100%;
  }
  #small-screen {
    display: flex;
  }
  
  #social, #juan-img {
    //display: inline-block;
    width: 50%;
    text-align: center;
    //align-items: center;
    //border: 1px solid;
    padding-top: 1em;
      
  }
  
  #juan-img-link {
    //align-items: center;
    margin: auto;
  }
  #footer2 {
    display: block;
    font-size: 0
  }
  
}

span {
  color: #FAEA48;
  text-align: center;
  display: block;
}