body {
  margin: 0;
  font-family: monospace, 'sans-serif';
}

ul {
  list-style-type: none;
  padding: 0;
  width: 20%;
  margin: auto
}

li a {
  display: block;
  color: #000;
  padding: 6px 0px;
  text-decoration: none;
  text-align: center;
}

li a:hover {
  color: green;
}

.dashboard {
  background-color: #ADADAD;
  padding: 50px 0px;
  width: 100%;
  text-align: center;
  margin-top: 1em;
}

#img-me {
  margin: 2em 0em;
  flex: 30%;
  max-width: 30%;
  padding-left: 1em;
}
#text-me {
  flex: 70%;
  max-width: 70%;
  margin: 2em 1em;
  display:flex;
  align-items:center;
  text-align: justify;
  padding: 1em
}

.about-me {
  display: flex;
  padding-top: 3em
}

img {
  width: 100%;
  filter: grayscale(100%);
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  .about-me {
    position: relative;
  text-align: center;
  color: black;
  }
  
  #img-me {
    min-width: 100%;
    align-items: center;
    padding: 0;
    
  }
  #text-me {
    position: absolute;
    top: 100px;
    left: 0px;
    background-color: white;
    opacity: 70%;
    border-radius: 5px;
    max-width: 100%
  }
}

.project-container {
  //display: block;
  text-align: center;
}

.project-ul {
  display: flex;
  //border: 1px solid;
  width: 100%;
}

.project {
  flex: 50%;
  max-width: 50%;
  margin: 5px
}

